@media only screen and (min-width: 1024px) {


    main {
        max-width: 1300px;
        margin: auto;
    }

    header p.hide {
        display: block;
    }

    .navigation {
        display: block;
    }

    .navigation ul {
        display: flex;
    }

    .navigation li {
        border-bottom: 0;
    }

    .hamburger {
        display: none;
    }

    .today {
        flex-direction: row;
        margin: 2rem;
        gap: 0.5rem;
    }

    /* .events {} */

    .current-weather {
        padding-left: 1rem;
        min-width: fit-content;
        text-align: left;
    }

    .current-weather h2 {
        margin-bottom: 0;
        min-width: fit-content;
        text-align: left;
    }

    .current-weather p,
    .forecast p {
        margin: .5rem;
        min-width: fit-content;
        text-align: left;
    }

    .forecast {
        min-width: fit-content;
    }

    .forecast p {
        font-size: 1.3rem;
    }

    .forecast h2 {
        margin-bottom: 3rem;
    }

    #company-container.grid {
        display: grid;
        /* padding: rem; */
        gap: 1rem;
        grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
        margin: auto;
    }

    #company-premium {
        display: grid;
        gap: 1rem;
        grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
        margin: 2rem auto;


    }

    /* #company-container.grid .company-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1rem;
    gap: 0.5rem;
    width: 100%;
} */
    .company-card img {
        max-width: 100%;
        height: auto;
        align-self: center;
    }

    #company-premium .company-card {
        display: grid;
        grid-template-rows: auto auto auto auto;
        grid-template-columns: 1fr 1fr;
        background-color: var(--primary-color);
        color: var(--text-color1);
        border-radius: 6px;
        padding: 1rem;
        gap: 0.5rem;
        align-items: center;
        min-width: 250px;
    }

    .company-card {
        display: grid;
        grid-template-rows: auto auto auto auto;
        grid-template-columns: 100px 1fr;
        background-color: var(--primary-color);
        color: var(--text-color1);
        border-radius: 6px;
        padding: 1rem;
        gap: 0.5rem;
        align-items: center;
        min-width: 250px;
    }

    .company-card a {
        word-break: break-word;
        overflow-wrap: break-word;
        white-space: normal;
    }

    footer {
        flex-direction: row;
    }

    .contact-info,
    .social-icons,
    .bottom-info {
        padding: 2rem;
        align-self: center;
    }

    .join-main section {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 1rem;
    }

    .div-cards {
        margin: 1rem auto;
        flex-direction: column;
    }

    .cards-m {
        width: 9.5rem;
        height: 9rem;
        margin-right: 1.5rem;
    }

    .div-cards:last-child {
        margin-bottom: 0;
    }

    .cards-m h3 {
        font-size: 1.5rem;
    }

    /* Discover Page */
    #cardsInterest {
        display: grid;
        grid-template-columns: 1fr 1fr;

    }


    .interest-card {
        display: grid;
        grid-template-areas:
            "image title"
            "image address"
            "image description"
            "image button";

    }

    .interest-card figure {
        width: 100%;
        height: auto;
        grid-area: image;
    }

    .interest-card h2 {
        grid-area: title;
    }

    .interest-card p:first-child {
        grid-area: address;
    }

    .interest-card p:last-child {
        grid-area: description;
    }

    .interest-card button {
        grid-area: button;
    }

    .interest-card  figure{
        overflow: hidden;
    }

    .interest-card img {
        transition: transform 0.3s ease;
        display: block;
        width: 100%;
    }

    @media (hover: hover) and (pointer: fine) {
        .interest-card img:hover {
            transform: scale(1.1);
        }
    }

}