@media only screen and (min-width: 38rem) {

    header,
    main,
    nav,
    footer {
        margin: 0 auto;
    }

    .hamburger {
        display: none;
    }

    header {
        grid-template-columns: 24;
        padding: 1rem 0 1rem 5px;
    }

    .navigation {
        display: block;
        background-color: var(--default-color);
        margin: 0%;

    }

    .navigation ul {
        display: flex;
        gap: 10px;
        justify-content: space-around;
        margin: auto;
    }


    .navigation a {
        padding: 0%;
        color: #9496f8;

    }



    .first-top {
        display: flex;
        gap: 1rem;
    }

    .first-top img {
        min-width: 200px;
        height: auto;
    }

}